.testimonials {
    margin-top: 75px;
    margin-bottom: 100px;
}

.testimonials .container {
    width: 471.5px;
    margin: 0 auto;
}

.testimonials .container .comment {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: 0;
}

.testimonials .container .writer {
    display: flex;
    justify-content: center;
}

.testimonials .container .writer .author {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 30px;
}

.testimonials .container .writer .role {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #737373;
}